<%- include ("includes/head.ejs"); %>
<body>
    <h1>this is the home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, 
       adipisicing elit. Harum quas error 
       rerum deserunt at veritatis illo 
       sapiente officia, neque facere voluptas 
       tempore perspiciatis! Id vero praesentium 
       veritatis, laudantium illum 
       voluptatibus.
    </p>
    <button>click me</button>
</body>

</html>